In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/anthonycarannante/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

## Mars Latest News

In [3]:
# Visit URL
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
# Parse through HTML code with BeautifulSoup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# Pull Titles and Preview paragraphs from the html link
# Store and print the first title and preview text
news_title = soup.find_all('div', class_='content_title')[0].text
news_p = soup.find_all('div', class_='article_teaser_body')[0].text

print(news_title)
print(news_p)

NASA's Curiosity Mars Rover Takes a New Selfie Before Record Climb
Along with capturing an image before its steepest ascent ever, the robotic explorer filmed its "selfie stick," or robotic arm, in action.

## Mars Images

In [5]:
# Visit URL
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [6]:
# Open the link stored in the button labeled "FULL IMAGE"
browser.click_link_by_partial_text('FULL IMAGE')

/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/splinter/driver/webdriver/__init__.py:490: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  warnings.warn(

In [7]:
# Parse through HTML code with BeautifulSoup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# Pull all images from webpage into list
images = soup.find_all('img')

# Pull the link to the feature image
for image in images:
    if 'feature' in image['src']:
        image_url = image['src']

# Create full link to the featured image
featured_image_url = url + image_url
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

## Mars Facts

In [8]:
# Read all tables from url into pandas
url = 'https://galaxyfacts-mars.com'
mars_table = pd.read_html(url)
mars_table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [9]:
# Convert each table into a separate dataframe
mars_df1 = mars_table[0]
mars_df2 = mars_table[1]

mars_df1

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [10]:
# Convert dataframes to HTML table string
html_table1 = mars_df1.to_html()
html_table2 = mars_df2.to_html()

html_table1

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [11]:
# Visit URL
url = 'https://marshemispheres.com/'
browser.visit(url)

In [12]:
# Parse through HTML code with BeautifulSoup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# Pull all divs in the HTML code with the class item. All hemisphere info is stored here
results = soup.find_all('div', class_='item')

# Create blank list for dictionaries of pictures
hemispheres_list = []

# Iterate through all divs from above and pull the title and image link
for result in results:
    title = result.find('h3').text
    link_temp = result.find('img')['src']
    link = url + link_temp
    
    # Store in a dictionary and append each dictionary to a list
    hemispheres_list.append({'title':title,'img_url':link})

# Print the list of dictionaries with the hemisphere information
print(hemispheres_list)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}]

In [13]:
browser.quit()